:root{
  --bg-1: #000;
  --bg-2: #111;
  --bg-3: #2e2e2e;
  --font-family-1: Arial, sans-serif;
  --color-1: #fff;
  --color-2: #ffbf00;
  --color-3: #f2a50c;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-family-1);
}

body{
  height: 2000px;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
}

img{
  max-width: 100%;
  display: block;
}