@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

:root{


 
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 2000px;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
}

img{
  max-width: 100%;
  display: block;
}

img[src$=".jpg"]{
  border-radius: 5px;
}